.Navbar {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 3rem;
    padding: .2rem;

    background: linear-gradient(90deg, #006D7E 0%, #005765 100%);
    color: #fff;
}

.LogoWrapper {
    position: absolute;
    max-width: 3rem;
}